{{>partial_header}}
package {{packageName}}

{{#operations}}
import (
	"net/http"

	"github.com/gin-gonic/gin"
    logr "github.com/sirupsen/logrus"
){{#operation}}

// {{nickname}} - {{{summary}}}
func {{nickname}}(c *gin.Context) {
    log := logr.WithContext(c)
    log.Info("{{nickname}}")
	c.JSON(http.StatusOK, gin.H{})
}{{/operation}}{{/operations}}