FROM golang:1.14 AS build
WORKDIR /go/src
COPY . .
RUN mv .netrc ~/.netrc

ENV CGO_ENABLED=0

RUN go build -o {{packageName}} .

FROM scratch AS runtime
ENV GIN_MODE=release
COPY --from=build /go/src/{{packageName}} ./
EXPOSE 8080/tcp
ENTRYPOINT ["./{{packageName}}"]
