{{>partial_header}}
package main

import (

	"github.com/LaysDragon/logrus-utils-formatter"
	log "github.com/sirupsen/logrus"
    "github.com/spf13/viper"
    "io" 

	// WARNING!
	// Change this to a fully-qualified import path
	// once you place this file into your project.
	// For example,
	//
	//    sw "github.com/myname/myrepo/{{apiPath}}"
	//
	sw "./{{apiPath}}"

    "github.com/opentracing/opentracing-go"
	"github.com/uber/jaeger-lib/metrics"

	"github.com/uber/jaeger-client-go"
	jaegercfg "github.com/uber/jaeger-client-go/config"
	"github.com/uber/jaeger-client-go/zipkin"
)

type LogrusJaegerLogger struct{}

func (l LogrusJaegerLogger) Error(msg string) {
	log.Error(msg)
}

func (l LogrusJaegerLogger) Infof(msg string, args ...interface{}) {
	log.Infof(msg, args...)
}


func GetEnv(key, defaultVal string) string {

	value := viper.GetString(key)
	if value == "" {
		return defaultVal
	}
	return value
}

func GetEnvFatal(key string) string {
	value := viper.GetString(key)
	if value == "" {
		log.Fatalf("You must set %s env variable", key)
	}
	return value
}

func init() {

	log.SetFormatter(&formatter.UtilsFormatter{})

	log.SetReportCaller(true)

	log.SetLevel(log.InfoLevel)

	viper.SetConfigFile(".env")
	if err := viper.ReadInConfig(); err != nil {
		log.Info("no .env file found")
	}
	viper.AutomaticEnv()
}

func InitOpenTracing() io.Closer {
	cfg := jaegercfg.Configuration{
		ServiceName: "{{appName}}",
		Sampler: &jaegercfg.SamplerConfig{
			Type:  jaeger.SamplerTypeConst,
			Param: 1,
		},
		Reporter: &jaegercfg.ReporterConfig{
			LogSpans: true,
		},
	}

	// Example logger and metrics factory. Use github.com/uber/jaeger-client-go/log
	// and github.com/uber/jaeger-lib/metrics respectively to bind to real logging and metrics
	// frameworks.
	jLogger := LogrusJaegerLogger{}
	jMetricsFactory := metrics.NullFactory
	jaegerUrl := GetEnv("JAEGER_SERVER", "tracing.istio-system.svc.cluster.local:6831")
	transport, err := jaeger.NewUDPTransport(jaegerUrl, 0)
	if err != nil {
		log.WithError(err).WithField("jaegerServer", jaegerUrl).Warning("Cannot initialize jaeger transport,fallback to localhost:6831")
		if transport, err = jaeger.NewUDPTransport("localhost:6831", 0); err != nil {
			log.WithError(err).WithField("jaegerServer", "localhost:6831").Fatal("Cannot initialize jaeger transport")
		}
	}

	// Initialize tracer with a logger and a metrics factory
	tracer, closer, err := cfg.NewTracer(
		jaegercfg.Logger(jLogger),
		jaegercfg.Metrics(jMetricsFactory),
		jaegercfg.Extractor(opentracing.HTTPHeaders, zipkin.NewZipkinB3HTTPHeaderPropagator()),
		jaegercfg.Injector(opentracing.HTTPHeaders, zipkin.NewZipkinB3HTTPHeaderPropagator()),
		jaegercfg.Reporter(jaeger.NewCompositeReporter(jaeger.NewLoggingReporter(jLogger), jaeger.NewRemoteReporter(transport, jaeger.ReporterOptions.Logger(jLogger)))),
	)
	jLogger.Infof("Initializing logging reporter\n")
	if err != nil {
		log.WithError(err).Panic("tracer Database error")
	}
	// Set the singleton opentracing.Tracer with the Jaeger tracer.
	opentracing.SetGlobalTracer(tracer)
	return closer
}


func main() {
	log.Printf("Server started")

	closer := InitOpenTracing()
	defer closer.Close()


	router := sw.NewRouter()

	log.Fatal(router.Run(":{{serverPort}}"))
}