{{>partial_header}}
package {{packageName}}

import (
	"net/http"
	
	"github.com/gin-gonic/gin"
    
	"github.com/LaysDragon/gin-custom-recovery-handler"
	"fmt"

	logr "github.com/sirupsen/logrus"

	"github.com/opentracing/opentracing-go"
	"github.com/opentracing/opentracing-go/ext"
)

func openTracingReporter(c *gin.Context) {
	// extract opentracing span
	c.Next()
	span := opentracing.SpanFromContext(c.Request.Context())
	if span != nil {
		span.Finish()
	}
}

// Open Tracing Middleware
func openTracingAttacher(opName string) gin.HandlerFunc {
	if opName == "Index" {
		return func(c *gin.Context) {}
	}

	return func(c *gin.Context) {

		wireContext, err := opentracing.GlobalTracer().Extract(
			opentracing.HTTPHeaders,
			opentracing.HTTPHeadersCarrier(c.Request.Header))

		var span opentracing.Span
		if err != nil {
			// Optionally record something about err here
			span = opentracing.StartSpan(opName)
		} else {
			span = opentracing.StartSpan(
				opName,
				ext.RPCServerOption(wireContext))
		}

		// Create the span referring to the RPC client if available.
		// If wireContext == nil, a root span will be created.
		rctx := opentracing.ContextWithSpan(c.Request.Context(), span)

		c.Request = c.Request.Clone(rctx)
		c.Next()
	}
}

func openTracingTag() gin.HandlerFunc {
	return func(c *gin.Context) {
		c.Next()
		if span := opentracing.SpanFromContext(c.Request.Context()); span != nil {
			span.SetTag("http.status_code", c.Writer.Status())
		}
	}
}

func recoveryHandler(c *gin.Context, err interface{}) {
	switch realErr := err.(type) {
	case error:
		logr.WithContext(c).WithError(realErr).Error("recovery from panic")
	default:
		logr.WithContext(c).WithError(fmt.Errorf("%v", err)).Error("recovery from panic")
	}
	c.Status(http.StatusInternalServerError)
}



// Route is the information for every URI.
type Route struct {
	// Name is the name of this Route.
	Name        string
	// Method is the string for the HTTP method. ex) GET, POST etc..
	Method      string
	// Pattern is the pattern of the URI.
	Pattern     string
	// HandlerFunc is the handler function of this route.
	HandlerFunc gin.HandlerFunc
}

// Routes is the list of the generated Route.
type Routes []Route

// NewRouter returns a new router.
func NewRouter() *gin.Engine {
	router := gin.New()
	router.Use(openTracingReporter)
	router.Use(openTracingTag())
	router.Use(gin.Logger())
	router.Use(recovery.Recovery(recoveryHandler))
	
	for _, route := range routes {
		switch route.Method {
		case http.MethodGet:
			router.GET(route.Pattern, openTracingAttacher(route.Name), route.HandlerFunc)
		case http.MethodPost:
			router.POST(route.Pattern, openTracingAttacher(route.Name), route.HandlerFunc)
		case http.MethodPut:
			router.PUT(route.Pattern, openTracingAttacher(route.Name), route.HandlerFunc)
		case http.MethodDelete:
			router.DELETE(route.Pattern, openTracingAttacher(route.Name), route.HandlerFunc)
		}
	}

	return router
}

// Index is the index handler.
func Index(c *gin.Context) {
	c.String(http.StatusOK, "This is {{appName}}!")
}

var routes = Routes{
	{
		"Index",
		http.MethodGet,
		"{{{basePathWithoutHost}}}/",
		Index,
	},{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}

	{
		"{{operationId}}",
		http.Method{{httpMethod}},
		"{{{basePathWithoutHost}}}{{{path}}}",
		{{operationId}},
	},{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
}