module {{gitHost}}/{{gitUserId}}/{{gitRepoId}}{{#isGoSubmodule}}/{{packageName}}{{/isGoSubmodule}}

go 1.13

require (
    github.com/gin-gonic/gin v1.5.0
	github.com/opentracing/opentracing-go v1.1.0
	golang.org/x/oauth2 v0.0.0-20190604053449-0f29369cfe45
)